:host {
  border-bottom: 1px solid #cccccc;
  display: block;
  padding: .5rem 0;
}

dl {
  padding: 0.5em;
}

dt {
  float: left;
  clear: left;
  width: 100px;
  text-align: right;
  font-weight: bold;
}

dt:after {
  content: ":";
}

dd {
  margin: 0 0 0 110px;
}
