<script src="../../user-todo/user-todo.component.ts"></script><h3 class="post-title"><a href=""
                                                                                        [routerLink]="[user?.id]">{{user?.name|
  titlecase}}</a></h3>

<dl>
  <dt>username</dt>
  <dd>{{user?.username}}</dd>
  <dt>email</dt>
  <dd>{{user?.email}}</dd>
  <dt>address</dt>
  <dd>{{user?.address?.city}}, st. {{user?.address?.street}}, {{user?.address?.suite}}
    <app-gmap-article [geo]="user?.address?.geo"></app-gmap-article>
  </dd>
  <dt>zipcode</dt>
  <dd>{{user?.address?.zipcode}}</dd>
  <dt>phone</dt>
  <dd> {{user?.phone}}</dd>
  <dt>site</dt>
  <dd>{{user?.website}}</dd>
  <dt>company</dt>
  <dd>{{user?.company?.name}} - {{user?.company?.catchPhrase}}</dd>
</dl>

