:host {
  display: block;
  margin-top: .5em;
  margin-bottom: .5em;
  padding-bottom: .5em;
  border-bottom: 1px solid #cccccc;
}

label{
  margin: 0;
  padding-left: 15px;
}

input:checked + label{
  text-decoration: line-through;
}
